.lgp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('./assets/background_login.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #A0522D ;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(0, 0, 0);
}

.icon{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover{
    background-color: #A0522D;
    color: #ffffff;
}

.register-link{
    font-size: 20px;
    margin: 20px 0 15px;
    text-align: center;
}

.register-link p a{
    color: #A0522D;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.aa{
    font-size: 18px;
    color: #A0522D;
}