.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    width: 200px;
    border-right: 1.5px solid #000000;
    padding: 100px 5px 5px 5px;
}

.sidebar button {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    color:#A0522D;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.sidebar button:hover {
  background-color:#A0522D;
  color:#fff;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #A0522D;
}

.content-button {
    margin-left: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.content-button:hover {
    background-color: #ffffff;
    color:#A0522D;
}

.info-item{
    margin-bottom: 30px;
    font-size: 20px;
}

.info-item input{
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.content-button2{
    padding: 5px 5px 2px 5px;
    margin-left: 5px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 3px;
    font-size: 15px;
}
.content-button2:hover{
    background-color: #A0522D;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}
.content-button22{
  padding: 5px 5px 2px 5px;
  margin-left: 5px;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
}
.content-button22:hover{
  background-color: #ffffff;
  color: #A0522D;
  cursor: pointer;
  border: none;
}
.cardspp{
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 165px;
    height: auto;
    display: inline-block;
    background-color: rgb(255, 255, 255);
  }
  
  .cardspp-image{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .cardspp-title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 5px;
    color:#A0522D;
    min-height: 40px;
  }
  
  .cardspp-price{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    color: #000000;
  }
  
  .cardspp-button{
    width: 100%;
    border-radius: 0 0 5px 5px;
    border: none;
    background-color: #ffffff;
    padding: 5px;
    margin: none;
  }
  
  .cart-icon{
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: none;
    padding: none;
  }
  
  .cardspp-button:hover{
    cursor: pointer;
    color: #A0522D;
    background-color: antiquewhite;
  }
